databricks-course-adf9798/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "databricks-course-adf9798"
		},
		"ls_f1dl9798_storage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_f1dl9798_storage'"
		},
		"ls_databricks_course_ws_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0616-193505-s4e5wppa"
		},
		"ls_f1dl9798_storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://f1dl9798.dfs.core.windows.net/"
		},
		"tr_execute_f1_data_properties_pipeline_parameters_p_window_end_date": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"tr_execute_f1_data_properties_pipeline_parameters_p_file_source": {
			"type": "string",
			"defaultValue": "trigger"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_raw_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get folder details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_f1dl9798_raw",
								"type": "DatasetReference",
								"parameters": {
									"p_window_end_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get folder details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get folder details').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ingest_all_raw_files",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/christhomas9798@gmail.com/f1/ingestion/0.ingest_all_files",
										"baseParameters": {
											"p_data_source": {
												"value": "@pipeline().parameters.p_data_source",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_databricks_course_ws",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					},
					"p_data_source": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-07-03T10:00:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_f1dl9798_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_course_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_process_formula1_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_raw_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_window_end_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
									"type": "Expression"
								},
								"p_data_source": {
									"value": "@pipeline().parameters.p_file_source",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute transformation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_processed_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					},
					"p_file_source": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-07-03T10:00:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_raw_data')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transform_processed_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_processed_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "create presentation db",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/christhomas9798@gmail.com/f1/trans/0.create_presentation_database"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "race results",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "create presentation db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/christhomas9798@gmail.com/f1/trans/1.race_results",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "driver_standings",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "race results",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/christhomas9798@gmail.com/f1/trans/2.driver_standings",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "constructor_standings",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "race results",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/christhomas9798@gmail.com/f1/trans/3.constructor_standings",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "calculated race results",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "create presentation db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/christhomas9798@gmail.com/f1/trans/4.calculated_race_results",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date)",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course_ws",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-07-02T19:54:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_course_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_f1dl9798_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_f1dl9798_storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(dataset().p_window_end_date,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"constructorId": {
							"type": "integer"
						},
						"constructorRef": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"nationality": {
							"type": "string"
						},
						"url": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_f1dl9798_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_course_ws')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-796365741974573.13.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/c396634e-ac81-42e7-a851-400a472e3345/resourceGroups/databricks-course-rg/providers/Microsoft.Databricks/workspaces/databricks-course-workspace",
					"existingClusterId": "[parameters('ls_databricks_course_ws_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_f1dl9798_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_f1dl9798_storage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_f1dl9798_storage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_execute_f1_data')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pl_process_formula1_data",
						"type": "PipelineReference"
					},
					"parameters": {
						"p_window_end_date": "[parameters('tr_execute_f1_data_properties_pipeline_parameters_p_window_end_date')]",
						"p_file_source": "[parameters('tr_execute_f1_data_properties_pipeline_parameters_p_file_source')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 168,
					"startTime": "2021-03-21T18:00:00Z",
					"endTime": "2021-05-02T18:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_process_formula1_data')]"
			]
		}
	]
}